# Based on https://www.gitignore.io/api/macos

# General
.DS_Store
.AppleDouble
.LSOverride
._*

# Configuration files
.vscode/

# ZSH related files
*.zwc
.zsh_history
.zcompdump

# Local configuration
local.zsh
local/
