# Based on https://www.gitignore.io/api/macos

# General
.DS_Store
.AppleDouble
.LSOverride
._*

# Configuration files
.vscode/

# ZSH related files
*.zwc
.zcompdump
.zsh_history
.zsh_sessions

# Local configuration
local.zsh
local/
