# Based on https://www.gitignore.io/api/macos

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# ZSH related files
*.zwc
.zsh_history

# Local configuration
local.zsh
